.middle-top.fil-top
  padding-bottom 0

.middle-mid.bottom-fil
  flex-direction row-reverse

.middle-mid.filosofia-mid
  width 80%
  border none
  margin-left 7.5vw

.middle-mid.bottom-fil
  width 80%
  border none
  margin-left 1vw

.text-fil
  border-bottom 2px solid #fff
  padding-bottom 1.5vw
  margin-top 3%

.img-fil
  width 52%

.img-fil img
  width 95%


/* responsive media queries */
@media (min-width 1920px)
  p.text-fil
    width 40%
    font-size 18px
@media (max-width 1920px)
  p.text-fil
    width 40%
    font-size 18px

@media (max-width 1280px)
  p.text-fil
    width 40%
    font-size 16px

@media (max-width 1024px)
  p.text-fil
    width 40%
    font-size 14px

  .middle .middle-mid
    width 80%
    margin 0 auto

@media (max-width 768px)
  .middle-mid.bottom-fil
    flex-direction column
    justify-content center

  .middle-mid.bottom-fil
    flex-direction column

  p.text-fil
    width 90%
    font-size 16px

  .middle-top.fil-top
    justify-content center

  img.Logo_Menu.middle-top-title
    width 30%

  .middle .middle-mid
    flex-direction column

  .img-fil
    margin 0 auto

  .img-fil img
    width 100%

  section.middle
    margin 5vw 0

  img.logo-mid
    width 55%
    margin 0 auto
    margin
    padding 10vw 0


@media (max-width 640px)
  p.text-fil
    font-size 14px

  img.Logo_Menu.middle-top-title
    width 40%

@media (max-width 480px)
  p.text-fil
    font-size 12px

  .img-fil
    width 80%

  img.Logo_Menu.middle-top-title
    width 50%

@media (max-width 320px)
  p.text-fil
    font-size 10px
