.filosofia-bottom
  width 100%
  height auto
  background-color black
  color #fff
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 1vw 0 6vw 0

.filosofia-title
  font-size 1.5rem

.filosofia-subtitle
  font-size 1rem
  width 40%
  margin 0 auto
  padding 2vw 0

.filosofia-contact
  color #fff
  font-size 2rem
  margin-top 2vw
  padding 1vw 3vw 1vw 3vw

.filosofia-contact:hover
  color orange

@media (max-width 1366px)
  .filosofia-title
    font-size 1.5rem

  .filosofia-subtitle
    font-size 1rem
    width 60%

  .filosofia-contact
    font-size 2rem

@media (max-width 1024px)
  .filosofia-title
    font-size 1.4rem

  .filosofia-subtitle
    font-size 1rem

  .filosofia-contact
    font-size 1.8rem

@media (max-width 768px)
  .filosofia-title
    font-size 1rem

  .filosofia-subtitle
    font-size .8rem
    width 45%

  .filosofia-contact
    font-size 1.6rem

@media (max-width 640px)
  .filosofia-subtitle
    width 50%

  .filosofia-contact
    padding 3vw 5vw

@media (max-width 480px)
  .filosofia-subtitle
    width 60%

  .filosofia-contact
    font-size 1.2rem

@media (max-width 320px)
  .filosofia-subtitle
    width 85%
