  ::-moz-focus-inner, :active, :focus {
      outline:none;
      border:0;
      -moz-outline-style: none;
  }

  .middle .fil-title {
      margin-left: 3vw;
  }
  .middle-top.fil-top img.Logo_Menu.middle-top-title.fil-title {
      width: 25%;
  }

  .touch-slider{
    margin 0 auto
  }
