header.bar
  position absolute
  display flex
  flex-wrap nowrap
  justify-content space-between
  width 100%
  height auto
  top 0
  left 0
  z-index 7

  .bar-list
    list-style-type none
    margin 2vw 0 0vw 0vw

    &-item
      display inline
      color white
      margin-left 2vw
      margin-right 1.5vw
      padding 1vw 0 1vw 0

li.bar-list-item:hover
  color orange

.bar-list a
  text-decoration none
  color #fff

.Bar_Menu
  height auto
  width 20%
  padding 1vw 0 1vw 1vw

.Logo_Menu
  width 100%

/* RESPONSIVE MENU */

.nav-icon,.mobile-nav
  display none

@media (max-width: 768px)
  ul.bar-list
    display none

  .nav-icon
    display block
    position fixed
    top 0
    right 2%
    z-index 9
    color #fff
    font-size 48px
    cursor pointer

  .mobile-nav
    display none
    position fixed
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    background: rgb(208,129,81); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(208,129,81,1) 0%, rgba(98,48,35,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(208,129,81,1) 0%,rgba(98,48,35,1) 100%); /* Chrome10-25,Safari5.1-6 */


  ul.mobile-nav li
    margin 4vw 0 1.5vw 0

  ul.is-show
    height auto
    width 100%
    text-align center
    z-index 8
    display block
    list-style-type none

  .Bar_Menu
    width 25%
    margin-top 1.5%

  a.Bar_Menu.hvr-float
    position fixed

@media (max-width: 640px)
  .Bar_Menu
    width 30%
    margin-top 1.5%

  .nav-icon
    font-size 40px

@media (max-width: 480px)
  .Bar_Menu
    width 33%
    margin-top 1.5%

  .nav-icon
    font-size 36px

@media (max-width: 320px)
  .Bar_Menu
    width 36%
    margin-top 1.5%

  .nav-icon
    font-size 32px
