.middle
  display flex
  flex-direction column
  flex-wrap nowrap
  justify-content flex-start
  align-items center
  width 100%
  height auto
  z-index 1
  background-color black

  &-top
    display flex
    flex-direction row
    flex-wrap nowrap
    width 100%
    height auto
    color white
    font-size 1rem
    padding 3vw 0 2vw 0

  .home-title
    margin-left 8vw
    opacity 0

  .middle-text
    opacity 0

  .fil-title
    margin-left -32vw

  .middle-mid
    width 70%
    height auto
    display flex
    flex-wrap nowrap
    justify-content space-between
    align-items flex-start
    border-bottom 2px solid white
    margin-bottom 5vw
    margin-left 11vw
    padding-bottom 1vw
    color #fff

  img.logo-mid
    opacity 0

/* responsive media queries */

@media (min-width 1920px)
  p
    width 40%
    font-size 18px

  img.logo-mid
    width 35%

  @media (max-width 1920px)
    p
      width 40%
      font-size 18px

    img.logo-mid
      width 35%

  @media (max-width 1280px)
    p
      width 45%
      font-size 16.5px

    img.logo-mid
      width 40% !important

  @media (max-width 1024px)
    p
      width 50%
      font-size 16px

    img.logo-mid
      width 35% !important

    .middle-mid
      margin-left 8vw !important

  @media (max-width 768px)
    .middle-mid
      flex-direction column
      align-items center

    p
      width 80%
      font-size 12px

    img.logo-mid
      width 45%
      padding 4vw 0 4vw 0

    .middle-mid
      align-items center !important

    h1
      font-size 1.4rem

    .item-info
      font-size 26px

    span.item-info
      pointer-events none !important

  @media (max-width 640px)
    h1
      font-size 1.2rem

    p
      font-size 10px

    .item-info
      font-size 24px !important

  @media (max-width 480px)
    h1
      font-size .8rem
    p
      font-size 8px

    .item-info
      font-size 22px !important

  @media (max-width 320px)
    h1
      font-size .6rem

    p
      font-size 6px

    p.middle-text
      font-size 11px

    .item-info
      font-size 20px !important
