.bottom
  display flex
  flex-direction column
  flex-wrap nowrap
  justify-content flex-start
  align-items center
  width 100%
  height auto
  z-index 1
  background-color black

  &-top
    display flex
    flex-direction row
    flex-wrap nowrap
    width 100%
    height auto
    color white
    font-size 2rem
    padding 0 0 3vw 0

  h2
    margin-left 20vw

  .bottom-photos
    width 100%
    height auto
    display flex
    flex-wrap nowrap
    justify-content space-between

  .bottom-photos-box
    position relative
    width 32%
    margin-bottom 2vw

  img.bottom-photos-box-img
    width 100%

  .photo-box-subtitle
    position absolute
    top 30%
    left 0
    width 100%
    text-align center
    color #fff
    font-size 2rem

  span.text_box
    opacity 0

/* responsive media queries */
  @media (max-width 1366px)
    h2
      font-size 3rem

  @media (max-width 1280px)
    h2
      font-size 2.8rem

  @media (max-width 1024px)
    h2
      font-size 2.6rem

  @media (max-width 768px)
    .bottom-photos
      flex-direction column
      justify-content center

    .bottom .bottom-photos-box
      width 60%
      margin-left 20%

    h2
      font-size 2.4rem

    .middle .middle-top-title
      margin-left 5vw

  @media (max-width 640px)
    h2
      font-size 1.8rem

  @media (max-width 480px)
    h2
      font-size 1.6rem

  @media (max-width 320px)
    h2
      font-size 1.4rem
