@font-face
  font-family "kuro"
  src url('../fonts/Kuro-Regular.ttf')


@import './normalize.css' /* standarizar parametros */
@import './animate.css'
@import './hover-min.css'
@import './reset' /* reiniciar valores */
@import './slider-portfolio.css' /* slider en portafolio */
@import './header' /* Barra de navegación */
@import './home_top' /* Contenido primer bloque de home  */
@import './slider' /* Slider  */
@import './home_middle' /* Contenido segundo bloque de home */
@import './home_bottom' /* Contenido tercer bloque de home */
@import './filosofia_content' /* primera parte de la página de filosofia */
@import './filosofia_bottom' /* parte de abajo de la página de filosofia */
@import './menu_portafolio' /* Menu en la página del portafolio*/
@import './popup_portafolio' /* Popup en la página del portafolio */
@import './servicios' /* Servicios */
@import './contact' /* Contacto  */
@import './footer' /* Fin de la página */
@import './firefox-fixes' /* crossbrowsing bugs fixes en firefox */


body
  font-size 16px
  font-family: "kuro"
  background-color black
  overflow-x hidden

html
  overflow-x hidden

a
  text-decoration none
  color #fff

a:hover
  opacity .8

.selected-item
  color orange !important

.selected-item-mobile
  color black !important

.test-opacity
  margin 0
  width auto
  height auto
  border 0
  padding 0

a.test-opacity,.test-opacity
  opacity 0

.filosofia-bottom
  opacity 0

.middle
  opacity 0

.middle-mid.bottom-fil
  opacity 0

.servicios
  opacity 0

.menu_portafolio
  opacity 0

.Grid
  opacity 0

.first-row,.second-row,.third-row
  opacity 0

.content_contact
  opacity 0

.bottom
  opacity 0

span.item-info
  pointer-events none
