.background-filter
  position fixed
  width 100%
  height 100%
  background-color black
  opacity 0
  z-index -1
  transition 1s

.menu_portafolio
  width 100%
  height auto
  color #fff
  background-color black
  text-align center
  padding 2vw 0 2vw 0
  z-index 9
  transition 1s

.menu_portafolio ul.list_port
  display inline

ul.list_port li
  display inline
  padding 0vw 1vw 0vw 1vw
  color #fff
  cursor pointer

ul.list_port li:hover
  color orange

.selected, a.selected
  color orange

.menu_bottom
  width 100%
  height auto
  color #fff
  background-color black
  text-align center
  padding 0vw 0 6vw 0

.go-left
  margin 0 1vw 0 0
  color orange
  font-size 24px

.go-right
  margin 0 0 0 2vw
  color orange
  font-size 24px

.number
  font-size 24px
  margin-left 1vw
  color #fff

.number:hover
  color orange

.next
  color #fff

.show-page
  display inline

.noshow-page
  display none

.show-item
  display inline-block !important

.noshow-item
  display none !important

/***GRID*****/


#Grid{
  text-align: justify;
  font-size: 16px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Grid li{
  flex: 0 0 32%;
  margin: 0 .5% 2% .5%;
}

.item-port
  cursor pointer

.item-port-img
  width 100%
  cursor pointer

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
}

#Grid .placeholder{
  padding: 0;
}

.item-port-content
  position relative

.item-info
  position absolute
  width 100%
  height auto
  top 0
  text-align center
  top 50%
  transform translateY(-50%)
  color #fff
  font-size 32px
  opacity 0
  pointer-events none

.desc-item
  position absolute
  width 100%
  height auto
  bottom 0
  background-color white
  color black
  opacity 0

.desc-title,.desc-subtitle
  margin 1vw 1vw 1vw 1.8vw

.more-icon
  width 100%
  position absolute
  text-align center
  opacity 0
  top 0
  margin-top 20%

.more-icon img
  transform rotate(45deg)
  width 25%

/* -- MEDIA QUERIES  -- */

/* 3 COL */
@media (max-width: 1920px)
  #Grid li
    flex: 0 0 32%;
    margin: 0 .5% 2.5% .5%;

/* 2 COL */
// @media (max-width: 768px)
//   #Grid li
//     width: 48%;
//     margin-bottom: 4%;

@media (max-width: 768px)
  ul.list_port li
    font-size 20px

/* SINGLE COL */
@media (max-width: 640px){
  #Grid{
    justify-content: center
  }

  #Grid li {
      flex: 0 0 60%;
      margin: 0 .5% 2.5%;
  }

  .list_port a{
    font-size:12px;
  }

  span.opt-list{
    font-size:14px;
  }
}

@media (max-width: 480px){
  span.opt-list{
    font-size 10px
  }

  ul.list_port li{
    padding 0vw
  }
}

@media (max-width: 320px){
  span.opt-list{
    font-size:8px;
  }
}
