.background-filter
  transition 1s
  width 100%
  height 100%
  height 100%
  top 0
  position fixed
  background rgba(51,51,51,0.3)
  z-index -10
  opacity 0

.popup-window
  position fixed
  width 100%
  height 100%
  overflow-y auto
  z-index -10
  opacity 0
  top 0
  background-color rgba(0, 0, 0, 0.6)
  transition 1s

.popup-window-wrapper
  position absolute
  width 100%
  height auto
  top 15px
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content space-between
  align-items center
  background-color black
  z-index 9

.controls-portfolio
  width 100%
  height 100%
  padding 2vw 0
  background-color black

.controls-portfolio-wrapper
  width 35%
  height auto
  margin 0 auto
  display flex
  flex-direction row
  justify-content space-between

.prev-port,.next-port
  color #fff
  cursor pointer

.prev-port:hover,.next-port:hover
  color orange

.info-left
  position relative
  display flex
  width 50%
  height auto
  left 0
  background-color black

.info-right
  position relative
  display flex
  width 50%
  height auto
  background-color black

.info-project
  width 80%
  height auto
  display flex
  flex-direction column
  margin 0 auto
  background-color black

span.title-info,span.subtitle-info
  color #fff
  font-size 20px

.info-description
  width 80%
  height auto
  margin 0 auto
  background-color black
  display flex
  flex-direction column
  align-items flex-end

p.info-description-text
  width 85%
  color #fff
  font-size 16px
  border-bottom 2px solid white
  padding-bottom 2vw

span.title-info,span.subtitle-info
  width 100%

span.close-info
  position absolute
  top 5px
  right 5px
  cursor pointer
  z-index 9

span.close-info:hover
  opacity .8

.close-info img
  width 40px
  height 40px

.info-left, .info-right
  flex: 1 0 50%;

.controls-portfolio
  flex: 1 0 100%;


@media (max-width: 1024px)
  .controls-portfolio-wrapper
    width 35%

@media (max-width: 1000px)

  .popup-window
    position fixed
    width 100%
    height 100%
    overflow-y auto

  .info-project
    padding 3vw 0

  span.close-info
    top 5px
    right 5px

  .popup-window-wrapper
    width 90%
    margin-left 5%
    top 0

  .info-left, .info-right
    width 80%
    flex: 1 0 100%;

  .controls-portfolio
    width 80%

  .info-description, .info-project
    width 100%

  p.info-description-text
    width 100%

  .controls-portfolio-wrapper
    width 80%

  div.info-wrapper
    margin 15px


@media (max-width 768px)
  .controls-portfolio-wrapper
    width 90%

  .next-port, .prev-port
    font-size 12px

  .controls-portfolio
    padding 6vw 0

@media (max-width 480px)
  .controls-portfolio-wrapper
    width 90%

  .next-port, .prev-port
    font-size 10px
