.servicios
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center
  align-items center
  width 100%
  height auto
  z-index 1
  background-color black
  color #fff


p.servicios-top
  width 50%
  border none
  padding 3vw 0 3vw 0

@media (max-width 1024px)
  p.servicios-top
    width 65%

@media (max-width 768px)
  p.servicios-top
    width 75%

@media (max-width 640px)
  p.servicios-top
    width 85%
